@keyframes fadein{
    from{filter: blur(0px);}
    to{filter: blur(3px);}
}
@keyframes fadeout{
    from{filter: blur(3px);}
    to{filter: blur(0px);}
}

@keyframes inbutton{
    from{background-color:#0c121e; color: #ffffff;}
    to{background-color: #ffffff; color: #0c121e;}
}

@keyframes outbutton{
    from{background-color: #ffffff; color: #0c121e;}
    to{background-color:#0c121e; color: #ffffff;}
}

.body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.menu{
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: #0c121e;
    justify-content: space-between;
    color: white;
}
.menu img{
    height: 55px;
    width: auto;
}
.Title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu button{
    background-color: transparent;
    border: none;
    width: 10px;
    color: white;
}

.User button{
    width: 90px;
}

.Buscador {
    display:flex;
}

.Buscador button{
    margin-bottom: 0;
}

.Buscador input{
    width: 500px;
    margin: 2px;
    border-radius: 10px;
    align-items: center;
    padding-left:5px;
    background-color: rgb(54, 56, 75);
    border: 0px;
    color: white; 
}
.Buscador ::placeholder { color: rgb(255, 255, 255); }


.aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    position: fixed;
    z-index: 100;
    background-color: #0c121e;
    height: 100%;   
}
.aside:active{
    opacity: 0;
    visibility: hidden;
}

.aside button{
    line-height: 40px;
    font-size: 15px;
    background-color: transparent;

    color: white;

    border: none;
    text-align: left;
}
.aside button:hover{
    color: #0c121e;
    background-color: white;
    animation-name: inbutton;
    animation-duration: 0.5s;
}


.Liquid-button{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.404);
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1), inset 2px 2px 1px 0 rgba(255,255,255,0.5), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
}

.Liquid-button img{
    width: 200px;
    height: 200px;
    animation-name: fadeout;
    animation-duration: 0.25s;
}


.Liquid-button img:hover{
    animation-name: fadein;
    animation-duration: 1s;
    filter: blur(3px);
}

