@keyframes fadein{
    from{filter: blur(0px);}
    to{filter: blur(3px);}
}
@keyframes fadeout{
    from{filter: blur(3px);}
    to{filter: blur(0px);}
}

.body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.menu{
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: #0c121e;
    justify-content: space-between;
}
.menu img{
    height: 65px;
    width: auto;
}
.Buscador{
}

.Buscador input{
    width: 500px;
}

.Liquid-button{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.404);
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1), inset 2px 2px 1px 0 rgba(255,255,255,0.5), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
}

.Liquid-button img{
    width: 200px;
    height: 200px;
    animation-name: fadeout;
    animation-duration: 0.25s;
}


.Liquid-button img:hover{
    animation-name: fadein;
    animation-duration: 1s;
    filter: blur(3px);
}

