/* General */

@font-face {
    font-family: Raleway;
    src: url(Raleway-VariableFont_wght.ttf);
}

@keyframes fadein{
    from{background-position: 100% 100%; scale: 1;}
    to{background-position: 0px 0px; scale: 1.1;}
}
@keyframes fadeout{
    from{background-position: 0 0; scale: 1.1;}
    to{background-position: 100% 100%; scale: 1;}
}

@keyframes overlayin{
    from{opacity: 100%;}
    to{opacity: 0%;}
}

@keyframes overlayout{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.body{
    font-family: Raleway;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

button{
    color: #0c121e;  
}

input{
    color: #0c121e;
}

.menu{
    top: 0px;
    left: 0px;
    z-index: 9999;
    position: fixed;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: #0c121e;
    justify-content: space-between;
    color: white;
}
.menu img{
    height: 30px;
    width: auto;
}
.Title img{
    padding-right: 50px;
}
.Title{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.Title button{
    scale: 0.75;
}
.Title button img, .Buscador button img, .User button img{
    width: 30px; 
    height: auto;}

.menu button{
    background-color: transparent;
    border: none;
    width: auto;
    color: white;
}

.User button{
    width: 90px;
}

.Buscador {
    position: absolute;
    transform: translateX(calc(50vw - 250px));
    display:flex;
}

.Buscador button{
    margin-bottom: 0;
}

.Buscador input{
    width: 500px;
    margin: 2px;
    border-radius: 10px;
    align-items: center;
    padding-left:5px;
    background-color: rgb(54, 56, 75);
    border: 0px;
    color: white; 
}
.Buscador ::placeholder { color: rgb(255, 255, 255); }


.aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    position: fixed;
    z-index: 100;
    height: 100%;
    background-color: #0c121e;   
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05), inset 2px 2px 1px 0 rgba(255, 255, 255, 0), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.1);
}

.aside a{
    padding-left: 10px;
    text-decoration: none;
    line-height: 40px;
    font-size: 15px;
    background-color: #0c121e;

    color: white;

    border: none;
    text-align: left;
}
.aside a:hover{
    color: #0c121e;
    background-color: white;
    animation-name: inbutton;
    animation-duration: 0.5s;
}


.Liquid-button{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: white;
    background: linear-gradient(45deg,#0c121e0e , #ffffff00, #0c121e44);
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05), inset 2px 2px 1px 0 rgba(255,255,255,0.1), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
        background-size: 200% 100%;
        animation-name: fadeout;
    animation-duration: 0.25s;
    background-position: 100% 100%;
    
    
}
.Liquid-button img{
    background-color: transparent;
    width: 200px;
    height: 200px;
}

.Liquid-button:hover{
    background-position: 30% 30%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1), inset 2px 2px 1px 0 rgba(255,255,255,0.5), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    background-position: 0px 0px;
    animation-name: fadein;
    animation-duration: 1s;
    scale: 1.1;

}

.products{
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 30px;
}

.Content{
    width: 100%;
    margin-top: 55px;

    align-items: center;
    align-self: center;
    align-content: center;

    justify-content: center;
    text-align: center;
}

.anuncio_subida_productos img{
    width: 95%;
    border-radius: 25px;
    -webkit-user-drag: none;
}

.anuncio_venta_productos img{
    width: 95%;
    border-radius: 25px;
    -webkit-user-drag: none;
}

.LoginMenu{
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 100px;
    position: fixed;
    background-color: #0c121e;
    transform:translate(89vw ,5px);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05), inset 2px 2px 1px 0 rgba(255, 255, 255, 0), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.1);
}
.LoginMenu button{
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
}

.LoginMenu button:hover{
    background-color: white;
    color:#0c121e;
}




/* PAGINA CATEGORIAS */
.Categorias{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 70px;
    margin-right: 70px;
}




/*PAGINA MOVILES*/
.productos{
    display: flex;
    flex-direction: column;
    align-items:start;
    align-content:flex-start;
    align-self:flex-start;
}
.productos-apple{
    display: flex;
    flex-direction: row;
}
.productos-samsung{
    display: flex;
    flex-direction: row;
}
.producto img{
    object-fit:contain;
    margin: 20px;
}




/*PAGINA MOVILES*/
.productos-windows div, .productos-linux div, .productos-apple div{
    margin-right: 30px;}
.productos-windows{
    display: flex;
    flex-direction: row;}

.productos-linux{
display: flex;
flex-direction: row;}

/*SUBE TUS PRODUCTOS*/
.portal_subida{
    display: flex;
    gap: 50px;
    margin: 20px;
}
.imagen_subida img{
 border-radius: 40px;
}
.formulario_subida{
    text-align: start;
    align-self: flex-start;
}

/*VENDE TUS PRODUCTOS*/


/*PAGINA SOBRE NOSOTROS*/

.explicacion_empresa{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    text-align: center;
    margin-top: 5%;
    width: 700px;
}



/*PAGINA CONTACTO*/

.contactanos {
    align-items: center;
    align-self: center;
    text-align: center;
    margin-top: 5%;
    color: black;
    text-decoration: none;
    
}

.contactanos h3 {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
}

.contactanos h3 a{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
}

.scrollmenu{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
    gap: 20px;
}

.product-overlay{

    animation-name: overlayin;
    animation-duration: 0.25s;

    /* PROPIEDADES DE CAMBIO DEL OVERLAY */
    pointer-events: none;
    opacity: 0%;

    top: 0;
    position: fixed;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 11, 94, 0.192);
}

.product-overlay.active{
    animation-name: overlayout;
    animation-duration: 0.25s;
    pointer-events: all;
    opacity: 100%;
}

.product-interior{
    margin-left: 25%;
    margin-top: 150px;
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    padding-top: 20px;

    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: white;
    background: linear-gradient(45deg,#e6ebf7e0 , #fffffff3, #d2ddf3f3);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05), inset 2px 2px 1px 0 rgba(255,255,255,0.1), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
}
.product-interior img{
    height: 300px;
    width: auto;
}
.row{
    display: flex;
    flex-direction: column;
}

.superior{
    position: fixed;
    right: 20px;
    top: 10px;
}

.carrito_cantidad{
    position: fixed;
    top: -15px;
    right: 30px;
    border: red solid;
    border-radius: 20px;
    border-width: 5px;
    background-color: red;
    height: 10px;
    white-space: none;
    gap: none;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 9px;

}

.col button{
    background-color: #0c121e;
    color: white;
    border-radius: 20px;
    border-color: white;
}

.superior button{
    background-color: #0c121e;
    color: white;
    border-radius: 20px;
}

.otherside{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    position: fixed;
    z-index: 100;
    height: 100%;
    background-color: #0c121e;  
    right: 0px; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05), inset 2px 2px 1px 0 rgba(255, 255, 255, 0), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.1);
    color: white;
}

.otherside.active{
    pointer-events: none;
    opacity: 0%;
}

.toped{
    padding-top: 25px;
    display: flex;
    height: 25px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.toped button{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 800;
}

.centered{
    padding-top: 100px;
    justify-content: center;
    text-align: center;
}